.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.inner {
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll-wrapper {
  position: absolute;
  height: 100%;
  width: 2px;
  right: 0;
  top: 0;
  opacity: 1;
  transition: opacity .2s ease;

  &--hide {
    opacity: 0;
  }
}

.scroll-track {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}

.scroll-handle {
  position: absolute;
  width: 100%;
  background: #444444;
}